# Formal verification

JML is the most popular verification input format as part of comments.

Tools that verify it include:

- some JML project tools: <http://www.eecs.ucf.edu/~leavens/JML/download.shtml>
- <http://www.key-project.org/>
