<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <bean id="helloWorld" class="HelloWorld">
    <constructor-arg name="sayer">
      <ref bean="mySayerId"/>
    </constructor-arg>
    <constructor-arg name="message2">
      <value>World!</value>
    </constructor-arg>
  </bean>
  <bean id="mySayerId" class="Sayer">
    <property name="message" value="Hello "/>
  </bean>
</beans>
